<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="chocolate">
    <center>
    <h3>Iris Flower Detection</h3>
    <form method="post" action="/prediction">
        <label>Sepal Length</label>
        <input type="text" name="sepalL">
        <br>
        <br>
        <label>Sepal Width</label>
        <input type="text" name="sepalW">
        <br>
        <br>
        <label>Petal Length</label>
        <input type="text" name="petalL">
        <br>
        <br>
        <label>Petal Width</label>
        <input type="text" name="petalW">
        <br>
        <br>
        <p style="color:blue">
        <input type="submit" value="Predict Species">
        <br>
        <br>
        {{result}}
        </p>

    </form>    
    </center>
    
</body>
</html>

